
h1{
    font-variant: small-caps;
    font-style: bold;
    font-size: 25px;
    margin-bottom: 0;
}

h1 span{
    color: #c62828;
    font-weight: bold;
}

h2 span{
    border-bottom: 2px solid #c62828;
}

h2{
    margin-bottom: 15px;
    margin-top: 0;
}

#aside h4{
    margin-left: 0;
    margin-top: 1%;
    padding-top: 1%;
    color: #c62828;
    text-align: center;
    background-color: #212121;
    text-transform: uppercase;
}
hr{
    color: #c62828;
}

#logo_hobbies{
    display: flex;
    justify-content: space-around;
}

.training_icon{
    display: flex;
    justify-content: space-between;
}

.icon_margin{
    min-width: 300px;
}
   
.photo_hockey{
    width: 60%;
    border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    border: 1px solid #212121;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 19%;
    margin-right: 15%;   
}

body{
    display: grid;
	grid-template-areas: 
    "aside header header"
    "aside section section"
    "aside footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 20% 1fr 18%;
	grid-gap: 5px;
    row-gap: 120px;
    height: 100vh;
    margin: 10px;
    background-color: EEEEEE;

}

header{
    grid-area: header;
    margin-top: 75px;
}

.sidebar{
    grid-area: aside;
    background: #BCAAA4;
}

section_job, section_training{
    grid-area: section;
}

section_reference{
    grid-area: footer;
}

.training_formation, .job_icon, .reference_icon{
    border-bottom: 3px solid #c62828;
    margin-bottom: 3px;
}

.training_formation i, .job_icon i, .reference_icon i{
    color: #c62828;
}

header, section, footer {
	padding: 5px;
}

header, section, footer{
    margin-left: 50px;
}

.aside_content, .hobbies p{
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.about{
    margin-bottom: 170px;
}

.contact{
    margin-bottom: 40px;
}

.reference{
    display: flex;
    justify-content: space-evenly;
}

